<html>
<head>
    <title>Blog Details</title>
    <link rel="icon" type="image/x-icon" href="https://avatars3.githubusercontent.com/u/34464790?s=220&v=4">
    <link rel="stylesheet" href="/assets/css/blogdetails.css">
</head>
<body>
    <nav>

        <div class="nav-left">

            <ul>
                <img src="assets/logo.png" alt="logo"/>
                <li>
                    <a class="home" href="/home">Home</a>
                </li>
                <li>
                    <a href="/add-project">Add Project</a>
                </li>
            </ul>

        </div>

        <div class="nav-right">

            <a href="/contact">Contact Me</a>

        </div>

    </nav>

    <h1>Catto Nyan Ehe</h1>

    <section class="sesi-atas">
        <div class="body">
            <div class="kiri">
                <div class="img">
                    <img src="/assets/images/catto.png" alt="">
                </div>
            </div>
            <div class="kanan">
                <div class="atas">
                    <div class="konten-atas">
                        <p>Duration</p>
                        <div>
                            <img src="/assets/images/kalender.png" alt="">
                            <label for=""> 12 Jan 2021 - 11 Feb 2021</label>
                        </div>
                        <div>
                            <img src="/assets/images/jam.png" alt="">
                            <label for="">1 month</label>
                        </div>
                    </div>
                </div>
                <div class="bawah">
                    <p>Technologies</p>
                    <div class="konten-bawah">
                        <div class="paket-kiri">
                            <div class="reactjs">
                                <img src="/assets/images/reactjs.png" alt="">
                                <label for="">React Js</label>
                            </div>
                            <div class="nodejs">
                                <img src="/assets/images/nextjs.png" alt="">
                                <label for="">Node Js</label>
                            </div>
                        </div>
                        <div class="paket-kanan">
                            <div class="javascript">
                                <img src="/assets/images/nodejs.png" alt="">
                                <label for="">Java Script</label>
                            </div>
                            <div class="sokectio">
                                <img src="/assets/images/java.png" alt="">
                                <label for="">Java</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sesi-bawah">
        <div >
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis corrupti dolore distinctio officia, recusandae, voluptate quas tempore repellendus natus quae fuga ducimus dolor eligendi. Voluptatum, saepe veritatis. Accusamus, ipsa maiores!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, esse similique dicta modi optio quidem quaerat laboriosam provident quo repudiandae nulla commodi error magnam ut, quae unde natus hic consequatur?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex suscipit blanditiis praesentium perspiciatis in quod facere beatae fugit tenetur, dolore voluptatibus fugiat saepe modi maiores, magni delectus id repudiandae nobis.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa nihil illo dolorem voluptas corporis officia optio tempora hic a veniam necessitatibus atque nemo, harum nostrum fuga illum cupiditate eligendi neque.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum unde ad fuga earum veniam. Enim vel eius molestias illum reiciendis accusamus quam numquam, ratione rem mollitia consequatur cumque debitis voluptatem.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tenetur deleniti maxime veniam laboriosam eligendi dolores vero, iste asperiores, iure fugit perspiciatis. Ex aperiam laborum, ipsum culpa commodi est officia?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ab nisi excepturi sed tempora velit, ex tenetur laudantium nam inventore mollitia dolorem facilis blanditiis tempore aperiam voluptates sint, sapiente molestiae!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime molestiae eveniet labore ut, tempore perspiciatis voluptas architecto harum ullam quasi voluptatem inventore provident aperiam voluptates cum blanditiis, magnam impedit unde.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure hic, nisi modi inventore illo sunt harum et amet similique tempore aliquam nam iusto enim eveniet dolores facilis ab iste neque!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum illum consectetur nisi saepe. Quis atque quia nulla ut dolorum libero, eum fuga minus vitae! Ab illo maxime sit quis error?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab saepe atque accusantium sint dolor quia non et explicabo? Mollitia eos voluptatum, consectetur illum voluptate iste dolorum harum odit iure quod!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab asperiores perferendis, illo velit corporis nesciunt quasi non blanditiis laudantium tenetur assumenda soluta architecto, cumque quibusdam sint ad! Asperiores, accusantium quidem?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, perferendis suscipit, cum porro doloremque quibusdam placeat eaque voluptates libero aut dignissimos quasi numquam facilis laboriosam natus excepturi, voluptate veniam. Ducimus!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad iusto corporis nemo? Ratione mollitia inventore dignissimos a eveniet nobis dicta, reiciendis tenetur corrupti minima voluptatem quo cum in aperiam exercitationem?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus in soluta, voluptatem accusantium corporis id molestiae repellat quisquam inventore eaque voluptas ratione ipsum deserunt maxime cum qui ab facilis vitae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint numquam illo, commodi dicta mollitia laboriosam quaerat magnam porro nihil quidem optio veniam recusandae consequatur voluptates perferendis et eos reiciendis dolores.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur itaque praesentium amet iure nihil distinctio tempora nesciunt, at voluptatem nostrum delectus. Explicabo necessitatibus nam maiores pariatur aliquid quis, illo molestias.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, enim consequatur molestiae accusantium et impedit maxime voluptatibus obcaecati praesentium error cum dicta? Libero sunt, debitis inventore enim rerum sint deleniti.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis eum saepe error nemo culpa unde est possimus ea. Fuga facilis doloremque a aperiam ducimus, obcaecati asperiores nisi possimus rerum ad?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum animi quos mollitia blanditiis at modi obcaecati voluptates inventore porro optio quidem natus ullam cupiditate sapiente, ut accusantium nostrum. Fugiat, ad?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt necessitatibus illo minima sapiente consequuntur laborum. Modi dolorum velit voluptatem tempore repudiandae quidem delectus. Illum molestiae velit delectus consequatur consequuntur at?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, sit cum. Incidunt dolorum amet culpa dolor quaerat expedita odit ea sed officia quibusdam cumque totam nostrum, similique consequuntur ex dolorem?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nulla aperiam dolor animi fuga blanditiis doloremque, placeat amet quis, iste nostrum. Et quibusdam unde eos obcaecati esse vitae rerum ullam!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore saepe consequuntur eius distinctio in. Doloremque sit vitae dolor impedit culpa in obcaecati, dolore a eum exercitationem! Voluptatem odit adipisci nihil?
            </p>
        </div>

    </section>

</body>
</html>